<a href="https://colab.research.google.com/github/KNmitra/Bhavcopy/blob/master/Stock_Price_Prediction_Using_Python_%26_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import math
import pandas as pd
import pandas_datareader as web
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense,LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')

In [12]:
stock_ticker = 'AAPL'
start = pd.to_datetime(['2012-01-01']).astype(int)[0]//10**9 # convert to unix timestamp.
end = pd.to_datetime(['2019-12-17']).astype(int)[0]//10**9 # convert to unix timestamp.
url = 'https://query1.finance.yahoo.com/v7/finance/download/' + stock_ticker + '?period1=' + str(start) + '&period2=' + str(end) + '&interval=1d&events=history'
df = pd.read_csv(url)

In [6]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-01-03,3.081786,3.092143,2.925000,2.992857,2.551165,1238319600
1,2007-01-04,3.001786,3.069643,2.993571,3.059286,2.607790,847260400
2,2007-01-05,3.063214,3.078571,3.014286,3.037500,2.589219,834741600
3,2007-01-08,3.070000,3.090357,3.045714,3.052500,2.602005,797106800
4,2007-01-09,3.087500,3.320714,3.041071,3.306071,2.818154,3349298400
...,...,...,...,...,...,...,...
3519,2020-12-23,132.160004,132.429993,130.779999,130.960007,129.406555,88223700
3520,2020-12-24,131.320007,133.460007,131.100006,131.970001,130.404587,54930100
3521,2020-12-28,133.990005,137.339996,133.509995,136.690002,135.068588,124486200
3522,2020-12-29,138.050003,138.789993,134.339996,134.869995,133.270172,121047300
3523,2020-12-30,135.580002,135.990005,133.399994,133.720001,132.133789,96452100